@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Anton', sans-serif;
    color: #FFF;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 , p{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li{
    padding: 0;
    margin: 0;
    display: block;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.header{
    background: url('img/header-bg.jpg')no-repeat center top / cover;
}

.header a {
    color: #FFF;
}

.logo{
    margin-right: 69px;
}

.menu{
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li{
    margin-right: 40px;
}

.tel{
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}
.nav{
    padding-top: 57px;
    display: flex;
    align-items: center;
}

.nav a:hover {
    opacity: 0.5;
}

.offer{
    margin-top: 216px;
    padding-bottom: 322px;
}

.offer h1{
    font-size: 30px;
    letter-spacing: 0.1em;
    line-height: 44px;
}

.offer p{
    font-size: 100px;
    margin-top: -9px;
    letter-spacing: 0.02em;
}

.offer-btn{
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 17px 47px;
    border: 1px solid #FFF;
    width: 238px;
    text-transform: uppercase;
    text-decoration: none;
}
.offer-btn:hover{
    color: #000;
    background: #fff;

}

.about .container{
    color: #000;
}

.about .container h2{
    font-size: 50px;
    line-height: 73px;
    margin-top: 125px;
}

.about .container h3{
    font-size: 25px;
    line-height: 37px;  
}

.about .container p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-transform: unset;
}

.about .container .description{
    margin-top: 74px;
    display: flex;
    padding-bottom: 32px;
    margin-bottom: 84px;
}
.about .container .description h3{
    margin-bottom: 32px;
}

.about .container .desc-left{
    margin-right: 36px;
}

.about .gallery{
    display: flex;
    justify-content: space-between;
} 

.about .gallery img{
    transition: all 0.5s ease;
}

.about .gallery img:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    transform: scale(1.1);
}
.footer .container{
    margin-top: 130px;
    margin-bottom: 80px;
}

.footer .container p{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: unset;
}

/* Responsive starts here */

@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}
}

@media screen and (max-width: 1199px) {
	.container {
		width: 960px;
    }
    .gallery img:nth-child(1) {
		width: 23%;
	}
	.gallery img:nth-child(2) {
		width: 23%;
	}
	.gallery img:nth-child(3) {
		width: 48%;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 720px;
    }
    .menu{
        display: none;
    }
}

@media screen and (max-width: 767px) {
	.container {
		width: 540px;
    }
    .offer h1 {
		line-height: 1em;
    	margin-top: 10px;
	}
	.description {
		flex-wrap: wrap;
    }
	.desc-left, .desc-right {
		width: 100%;
    }
    .gallery img:nth-child(1),
	.gallery img:nth-child(2),
	.gallery img:nth-child(3) {
		width: 100%;
		margin-bottom: 20px;
	}
	.gallery {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0 15px;
    }
}